a {
  text-decoration: none;
  color: white;
}

a:hover,
a:active {
  color: lightgray;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
}

.navigation-items {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  background: deepskyblue;

  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navigation-items a {
  text-decoration: none;
  display: block;
  padding: 0.75em;
  color: white;
}

.navigation-items a:hover {
  background: #1565C0;
}

mat-toolbar {
  border-radius: 3px;
  background-color: darkblue;
}

@media (max-width: 959px) {
  mat-toolbar {
    border-radius: 0;
  }
}
